
{% load socialaccount %}
{% load i18n %}
{% load bootstrap5 %}







<div class="signup-page">
    
<a class="providers google" href="{% provider_login_url 'google' %}" class="text-dark"><i class='bx bxl-google'></i> Connexion avec Google</a>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="button-link" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

</div>

