.title {
    font-size: 36px;
}

.content {
    margin: 20px
}

/* PROJECT FORM */
.project-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.project-form .form-item {
    margin: 10px 0;
}


/* Account settings */
.profile-picture {
    width: 150px;

}