image: docker:stable
services:
  - docker:dind

variables:
  POSTGRES_USER: $POSTGRES_USER
  POSTGRES_PASSWORD: $POSTGRES_PASSWORD
  POSTGRES_DB: $POSTGRES_DB

stages:
  - build
  - test

before_script:
  - apk update
  - apk add py-pip python3-dev libffi-dev openssl-dev gcc libc-dev make
  - pip install -U pip
  - pip install docker-compose

Test:
  stage: test
  script:
    - docker-compose build
    - docker-compose run --rm web sh -c "python manage.py wait_for_db && python manage.py test"
