{% extends 'core/base.html' %}

{% block title %}Sidesk tous les projets{% endblock title %}
{% block content %}
<div class="all-project">
<h2 class="title">Projets à vendre</h2>
{% if user.is_authenticated %}
<div class="d-flex">
<div class="push"></div>
<a href="{% url 'projects:create' %}" class="btn btn-primary align-items-center mr-0">Créer un projet</a>
</div>
{% endif %}
</div>
<div class="container">
  <div class="row">
    {% for project in projects %}
    <div class="col-lg-3 d-flex align-items-stretch">
    <a href="{% url 'projects:detail' project.slug %}" class="project-link text-decoration-none text-body">
        <div class="card" style="width: 18rem;">
          <img src="{{project.images.all.0.image.url}}" alt="{{project.images.all.0.alt}}" class="card-img-top" />
          
          <div class="card-body">
            <span style="background-color:{{project.category.color}};" class="badge rounded-pill">{{project.category}}</span>
            <h4 class="card-title">
              {{project.name}}
            </h4>
            <p>
              {{project.summarize}}
            </p>
            <div class="user">
              <div class="user-info">
                <h5>{{project.price}}€</h5>
              </div>
            </div>
          </div>
        </div>
    </a>
  </div>
    {%empty%}
    <li>Pas de projets</li>
    {% endfor %}
  </div>
</div>

{% endblock content %}

