{% extends 'core/base.html' %}
{% block headers %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
{% endblock headers %}
{% block title %}{{project.title}}{% endblock title %}
{% block content %}

<h2 class="project-title my-3">{{project.name}}</h2>
<div class="detail-page d-flex ">
  <div class="project w-75">
    <div class="project-base p-3 rounded">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        {% comment %} <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol> {% endcomment %}
        <div class="carousel-inner">
          {% for images in project.images.all %}
          <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
            <img src="{{images.image.url}}" class="d-block w-100 carousel-img" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{images.alt}}</h5>
            </div>
          </div>
          {% endfor %}
          <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précedent</span>
          </button>
          <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
          </button>
        </div>
      </div>

      <h4 class="description-title mt-5 mb-3 fs-1">Description</h4>
      <hr>
      <div class="desc">
        {{project.description|safe}}
      </div>
    </div>
    <div class="project-metrics rounded my-4 p-3">
      <h4 class=" mb-3 fs-1">Metriques</h4>
      <hr>
      <div class="d-flex justify-content-around">
      {% for metrics in project.metrics.all %}
      <div class="metric-view card" style="width: 18rem;">
        {% if metrics.viewer_proof %}
        <img src="{{metrics.viewer_proof.url}}" class="card-image-top" data-toggle="modal" data-target="#viewer-modal"/>
        <!--Modal Viewer-->
        <div class="modal fade" id="viewer-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nombre de vue par mois</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img class="h-100" src="{{metrics.viewer_proof.url}}">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="card-body">

          <p class="card-text">Nombre de vue par mois : {{metrics.viewer_month}}</p>
        </div>
      </div>
      <div class="metric-download card" style="width: 18rem;">
        {% if metrics.download_proof %}
        <img  class="card-image-top" src="{{metrics.download_proof.url}}" data-toggle="modal" data-target="#download-modal">
        <!--Modal download-->
        <div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="download-modal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nombre de vue par mois</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img class="h-100" src="{{metrics.download_proof.url}}">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="card-body">

          <p class="card-text">Nombre de téléchargement par mois : {{metrics.download_month}}</p>
        </div>
      </div>
      <div class="metric-revenue card" style="width: 18rem;">
        {% if metrics.revenue_proof %}
        <img   class="img-card-top" src="{{metrics.revenue_proof.url}}" data-toggle="modal" data-target="#revenue-modal">
        <!--Modal revenue-->
        <div class="modal fade" id="revenue-modal" tabindex="-1" role="dialog" aria-labelledby="revenue-modal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nombre de vue par mois</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img class="h-100" src="{{metrics.revenue_proof.url}}">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="card-body">
          <p class="card-text">Revenu par mois : {{metrics.revenue_month}}€</p>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
  </div>
  <div class="project-order mx-auto">
    <div class="project-user p-3 rounded">
      <p class="project-user-title">CREATEUR DU PROJET</p>
      <hr>
      <div class="profile-user  d-flex">
        {% if project.user.picture %}
        <img src="{{project.user.picture.url}}" alt="" class="rounded-circle me-2 align-self-center">
        {% else %}
        <img src="https://avatars.dicebear.com/api/adventurer/{{project.user.username}}.svg" alt="" class="rounded-circle me-2 align-self-center">
        {% endif %}
        <div class="">
          <p class="mb-0">{{project.user.username}}</p>
          <p class="mb-0">Inscrit depuis {{project.user.date_joined|date:"d M Y"}}</p>
        </div>
      </div>
    </div>
    <div class="interest my-2 p-3 rounded">
      {% if project.user == request.user %}
      <p class="above-link-project">Ce projet vous interresse ?</p>
      <a class="link-contact btn btn-primary disabled" href="#">Se contacter ? Non...</a>
      <hr>
      <p class="above-link-project">L'acheter pour {{project.price}}€</p>
      <a class="link-buy btn btn-success disabled" href="#">C'est votre projet ;)</a>

      {% else %}
      <p class="above-link-project">Ce projet vous interresse ?</p>
      <a class="link-contact btn btn-primary" href="">Contacter le vendeur</a>
      <hr>
      <p class="above-link-project">L'acheter pour {{project.price}}€</p>
      <a class="link-buy  btn btn-success" href="{% url 'projects:order' project.slug %}">Acheter {{project.name}}</a>
      {% endif %}

    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script src="https://unpkg.com/htmx.org@1.7.0" defer></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
{% endblock script %}