{% extends 'core/base.html' %}
{% load bootstrap5 %}
{% block title %}Sidesk tous les projets{% endblock title %}
{% block content %}
<div class="all-project">
<h1 class="title my-4">Projets à vendre</h1>
{% if user.is_authenticated %}

<form method="get" class="my-4 row g-3">
  <div class="col-auto">{% bootstrap_field filter.form.name  %}</div>
  <div class="col-auto">{% bootstrap_field filter.form.category__label  %}</div>
  <div class="col-auto">{% bootstrap_label filter.form.price.label_tag %}
    <div class="row">
      <div class="col">
        {% bootstrap_field filter.form.price layout='horizontal' show_label=False field_class='d-flex'%}
      </div>
      
    </div>
  </div>
  <div class="col-auto"><button class="filter-button btn btn-primary" type="submit">Filtrer</button></div>

</form>
{% endif %}
</div>
<div class="container">
  <div class="row">
    {% for project in projects %}
    <div class="col-lg-3 d-flex align-items-stretch mb-4">
        <div class="card h-100 text-dark bg-light" style="width: 18rem;">
          <div class="card-header text-center fs-4">{{project.name}}</div>
          <img src="{{project.images.all.0.image.url}}" alt="{{project.images.all.0.alt}}" class="card-img-top embed-responsive-item mx-auto mt-2 rounded" />
          <div class="card-body d-flex flex-column">
            <div class="d-flex justify-content-between">
              <span  class="">{{project.price}}€</span>
              <span style="background-color:{{project.category.color}};" class="badge rounded-pill mb-2">{{project.category}}</span>
            </div>
            <hr>
            <p>
              {{project.summarize}}
            </p>
            <a href="{% url 'projects:detail' project.slug %}" class="btn btn-primary mt-auto mx-auto">
              details
            </a>
          </div>
        </div>

      </div>
      {%empty%}
      <li>Pas de projets</li>
      {% endfor %}
    </div>
      {% bootstrap_pagination page_obj %}
  </div>

{% endblock content %}

