{% extends 'core/base.html' %}
{% block title %}Mes demande d'achat / vente{% endblock title %}

{% block content %}
<h2>Vente</h2>
{% for order in orders %}
{% if order.seller == request.user %}
<div class="order">
    <p class="item">{{order.bill_number}}</p>
    <p class="item">{{order.project.name}}</p>
    <p class="item">{{order.project.price}}</p>
</div>
{% endif %}
{% empty %}

{% endfor %}

<h2>Achat</h2>
{% for order in orders %}
{% if order.buyer == request.user %}
<div class="order">
    <p class="item">{{order.bill_number}}</p>
    <p class="item">{{order.project.name}}</p>
    <p class="item">{{order.project.price}}</p>
</div>

{% endif %}
{% endfor %}
{% endblock content %}