{% extends 'core/base.html' %}
{% load bootstrap5 %}
{% block title %}Mes projets{% endblock title %}
{% block content %}

<div class="projects">
    <h1 class="my-4">Ils sont tous la !</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope='col'>Nom</th>
                <th scope='col'>Résumé</th>
                <th scope='col'>Prix</th>
                <th scope='col'>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{project.name}}</td>
                    <td>{{project.summarize}}</td>
                    <td>{{project.price}} €</td>
                    <td>
                        <a href="{% url 'projects:detail' project.slug %}" class="btn btn-success"> Voir</a>
                        <a href="{% url 'projects:update' project.slug %}" class="btn btn-warning"> Mettre a jour</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="deletemodal" data-bs-target="#deletemodal"> Supprimer</button>
                        <div class="modal fade" id="deletemodal" tabindex="-1" aria-labelledby="deletemodalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="deletemodalLabel">Modal title</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  ...
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </td>
                </tr>
            {%empty%}
            <li>Vous n'avez pas encore mis de projets en ligne !</li>
            {% endfor %}
        </tbody>
    </table>
    
</div>

{% endblock content %}