{% extends 'core/base.html' %}  
{% load bootstrap5 %}
{% block content %}
<h1 class="my-4">Vous souhaitez nous contacter ? Pas de problemes</h1>
<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail5" class="form-label">Confirmation email</label>
    <input type="email" class="form-control" id="inputEmail5">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Sujet</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-12">
    <label for="floatingTextarea">Message</label>
    <textarea class="form-control" id="floatingTextarea"style="height: 150px" ></textarea>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        En cochant cette case je m'enagage a prendre contact avec Sidesk de maniere correcte sans insulte
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Aller j'envoie ! </button>
  </div>
</form>
{% endblock content %}