.card-img-top {
    width: 100% !important;
    height: 7vw !important;
    object-fit: cover !important;
}

.base,
.images,
.metrics,
.project-user,
.interest,
.project-base,
.project-metrics {
    background-color: rgba(128, 128, 128, 0.411);
}

.carousel-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.project-user .profile-user img {
    width: 50px;
    height: 50px;
}