@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
/** VARIABLES **/

:root {
    --main-background-color: #D4D6B9;
    --second-background-color: #eeeeee;
    --button-background-color: #66717E;
    --button-hover-background-color: #66717ebd;
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--second-background-color);
}

/** GENERAL **/
/* Button */
.button-link {
    padding: 15px;
    background: var(--button-background-color);
    border-radius: 10px;
    color: #fff;
    transition: background 0.5s ease;
    cursor: pointer;
}

.button-link:hover {
    background: var(--button-hover-background-color);
}

.title {
    font-size: 36px;
}

.content {
    margin: 20px 100px;
}

/* NAV */
.nav {
    display: flex;
    flex-direction: row;
    background: var(--main-background-color);
    overflow: hidden;
}

.nav .push {
    flex-grow: 1;
}

.nav a {
    padding: 15px 20px;
    transition: background 0.5s ease;
}

.nav a:nth-child(1) {
    padding: 0;
}

.nav a img {
    width: 70px;
}

.nav a:hover {
    background: var(--button-hover-background-color);
}

/* PROJECT FORM */
.project-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.project-form .form-item {
    margin: 10px 0;
}


/** Account settings **/
.profile-picture {
    width: 150px;
}

.order {
    display: flex;
    flex-direction: row;
}

.order .item {
    padding: 5px;
    margin: 5px 5px;
}


/** Project List **/


.all-project {
    display: flex;
    justify-content: space-between;
}

.all-project a {
    align-items: baseline;
}


/* Card */
.container {
    display: flex;
    flex-direction: row;
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 200px;
}

.category {
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}



.card-body p {
    font-size: 13px;
    margin: 0 0 40px;
}

.user {
    display: flex;
    margin-top: auto;
}



.user-info h5 {
    margin: 0;
}

.user-info small {
    color: #545d7a;
}


/** DETAILS **/
.project-title {
    margin-bottom: 25px;
}

.detail-page {
    display: flex;
    justify-content: space-between;
}

.project-base,
.project-metrics {
    margin-bottom: 20px;
    background: var(--button-background-color);
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.project-base .desc {
    min-width: 1000px;
    width: 1200px;
}

.description-title {
    margin: 10px 0;
}

.carousel {
    width: 1200px;
}

.carousel-item {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-order {
    min-width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.project-order .project-user {
    padding: 10px;
    border: #66717E 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.project-order .project-user-title {
    font-size: 12px;
    color: #66717E;
    margin-bottom: 10px;
}

.project-order .project-user .profile-user {
    display: flex;

}

.project-order .profile-user img {
    width: 50px;
    border-radius: 10px;
    border: 1px solid black;
}

.project-order .profile-user p {
    align-self: center;
    margin-left: 10px;
}

.interest {
    margin-top: 20px;
    padding: 10px;
    border: #66717E 1px solid;
    border-radius: 10px;
}

.link-contact {
    display: block;
    text-align: center;
    padding: 15px;
    background: plum;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 25px;
}

.link-buy {
    display: block;
    text-align: center;
    padding: 15px;
    background: green;
    border: 1px solid black;
    border-radius: 10px;
}

.above-link-project {
    margin: 10px 0;
}

/** AUTH **/
/* Sign Up */
.signup-page {}



.signup {
    width: 300px;
    margin: auto;
}

.providers {
    padding: 10px;
    border: black 1px solid;
    background: white;
    border-radius: 10px;
    transition: background 0.5s ease;
    text-align: center;
}

.providers:hover {

    background: grey;

}

.signup>p {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}