@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
/** VARIABLES **/

:root {
    --main-background-color: #D4D6B9;
    --second-background-color: #DACAA1;
    --button-background-color: #66717E;
    --button-hover-background-color: #66717ebd;
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--second-background-color);
}

/** GENERAL **/
/* Button */
.button-link {
    padding: 15px;
    background: var(--button-background-color);
    border-radius: 10px;
    color: #fff;
    transition: background 0.5s ease;
}

.button-link:hover {
    background: var(--button-hover-background-color);
}

.title {
    font-size: 36px;
}

.content {
    margin: 20px
}

/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    background: var(--main-background-color);
    overflow: hidden;
}

.navbar .push {
    flex-grow: 1;
}

.navbar a {
    padding: 15px 20px;
    transition: background 0.5s ease;
}

.navbar a:nth-child(1) {
    padding: 0;
}

.navbar a img {
    width: 70px;
}

.navbar a:hover {
    background: var(--button-hover-background-color);
}

/* PROJECT FORM */
.project-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.project-form .form-item {
    margin: 10px 0;
}


/* Account settings */
.profile-picture {
    width: 150px;
}

/** Project List **/


.all-project {
    display: flex;
    justify-content: space-between;
}

.all-project a {
    align-items: baseline;
}


/* Card */
.container {
    display: flex;
    flex-direction: row;
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 200px;
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.tag-teal {
    background-color: #47bcd4;
}

.tag-purple {
    background-color: #5e76bf;
}

.tag-pink {
    background-color: #cd5b9f;
}

.card-body p {
    font-size: 13px;
    margin: 0 0 40px;
}

.user {
    display: flex;
    margin-top: auto;
}



.user-info h5 {
    margin: 0;
}

.user-info small {
    color: #545d7a;
}