{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block headers %}
    {% endblock headers %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}Sidesk{% endblock title %}</title>

</head>

<body>
    {% include 'core/navbar.html' %}
    <div class="content">
        {% block content %}
        
        {% endblock content %}
    </div>


    {% block script %}

    {% endblock script %}

</body>

</html>