{% load static %}
{% load bootstrap5 %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid d-flex justify-content-between">
        <!-- Navbar brand -->
        <!-- Toggle button -->
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse " id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% with url_name=request.resolver_match.url_name %}
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'landing-page' %} active{% endif %} "
                           aria-current="page"
                           href="{% url 'landing-page' %}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'list' %} active{% endif %}"
                           href="{% url 'projects:list' %}">Les Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                {% endwith %}
            </ul>
            <div class="flex-fill text-center">
                <a class="navbar-brand" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="my-auto"
                         width="27"
                         height="27"
                         style="fill: rgba(0, 0, 0, 1);
                                transform:;
                                msFilter:;">
                        <path d="m7.375 16.781 1.25-1.562L4.601 12l4.024-3.219-1.25-1.562-5 4a1 1 0 0 0 0 1.562l5 4zm9.25-9.562-1.25 1.562L19.399 12l-4.024 3.219 1.25 1.562 5-4a1 1 0 0 0 0-1.562l-5-4zm-1.649-4.003-4 18-1.953-.434 4-18z">
                        </path>
                    </svg>
                    Sidesk
                </a>
            </div>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'projects:create' %}"
                       class="btn btn-primary align-items-center">Créer un projet</a>
                    <div class="dropdown dropstart">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Mon compte
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'account_settings:update' %}">Mon profil</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'account_settings:project_list' %}">Mes projets</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'account_settings:order_list' %}">Mes achats / vente</a>
                            </li>
                            <li>
                                <form action="{% url 'account_logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">Deconnexion</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <button type="button"
                            class="btn btn-primary px-3 me-2"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"
                            hx-get="{% url 'login' %}"
                            hx-target="#signInForm"
                            hx-swap="outerHTML">
                        Connexion / Enregistrement
                    </button>
                {% endif %}
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade"
     id="staticBackdrop"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active w-50"
                            id="nav-home-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#nav-home"
                            type="button"
                            role="tab"
                            aria-controls="nav-home"
                            aria-selected="true">
                        Connexion
                    </button>
                    <button class="nav-link w-50"
                            id="nav-profile-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#nav-profile"
                            type="button"
                            role="tab"
                            aria-controls="nav-profile"
                            aria-selected="false"
                            hx-get="{% url 'signup' %}"
                            hx-target="#signUpForm"
                            hx-swap="outerHTML">
                        Enregistrement
                    </button>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active"
                         id="nav-home"
                         role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <div id="signInForm"></div>
                    </div>
                    <div class="tab-pane fade"
                         id="nav-profile"
                         role="tabpanel"
                         aria-labelledby="nav-profile-tab">
                        <div id="signUpForm"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
